<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/schema/9.2.xsd"
         processIsolation="true"
         cacheResult="false"
         colors="true"
         testdox="true">
    <testsuites>
        <testsuite name="Unit">
            <!-- Testing smallest units or modules individually. -->
            <!-- The unit test ensures that individual code i.e. small piece of code works fine. -->
            <directory suffix="Test.php">./tests/Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
